<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Administração </title>
</head>
<body>

    <h2> Seja Bem Vindo(a), <%= userName %> </h2>

    <p> Esta é sua página para gerenciar o Sistema </p>
    <br/>

    <button><a href="/logout"> LOGOUT </a></button>
    
</body>
</html>