<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Página Inicial </title>
</head>
<body>
    <h2> Bem Vindo ao Site </h2>
    <h3> Sistema de Gerenciamento de Produtos </h3>
    <br/>

    <button><a href="/login">LOGIN</a></button>
</body>
</html>