<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Acesso ao Sistema </title>
</head>
<body>

    <h2> LOGIN </h2>

    <form action="" method="post" name="logar" id="logar">
        <label for="e-mail"> E-mail: </label>
        <input type="email" name="email" id="email" placeholder="Informe seu E-mail"/>
        <br/> <br/>

        <label for="senha"> Senha: </label>
        <input type="password" name="senha" id="senha" placeholder="Informe sua Senha"/>
        <br/> <br/>

        <input type="submit" name="entrar" id="entrar" value="ENTRAR">

        <button><a href="/">VOLTAR</a></button>
    </form>

    <p> Não possui login? <a href="/cadastrar"> Cadastre-se </a></p>
</body>
</html>