/* ESTILO */

.avatar {
    max-width: 100px;
}

.btnedit {
    display: inline;
}

.btnedit button {
    background-color: #00BFFF;
    cursor: pointer;
}

.btn {
    display: inline;
}

.btn button {
    background-color: #F00;
    color: #FFFF;
    cursor: pointer;
}

.btnalter {
    display: inline;
}

.btnalter button {
    background-color: #7FFFD4;
    cursor: pointer;
}